.product {
  position: relative;
  width: 257px;
  border: 1px solid rgba(0, 0, 0, 0.500) !important;
}
.products{
  margin-top: 106px;
}
.sidebar{
  margin-top: 106px;
}
.card__product-img {
  margin: auto;
  padding: 10px;
}

.sale {
  position: absolute;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: orangered;
  color: white;
  text-align: center;
  width: 50px;
  margin: 0;
  top: 10%;
  left: 6%;
}
.card__product-content{
  padding: 0 1.25rem !important;
}
.card__product-type {
  font-size: 12px;
  color: red;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.card__product-name {
  font-size: 17px;
  font-weight: bold;
  margin: 0;

}
.price-saleoff{
  font-size: 14px;
  font-weight: bold;
  color : grey;
  margin: 0;
}
.price{
  font-size:14px;
  font-weight: bold;
  opacity: 0.5;
  margin-left: 20px;
}
.shop-search input:focus{
  border: 1px solid #FE4536;
}
